@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* General styles */
:root {
  --sky-color: #1fddff;

  --wall-color-front: #AF734F;
  --wall-color-middle: #A06550;
  --wall-color-back: #987655;
  --wall-shadow: #542D1C;

  --grass-color: #01A755;
  --grass-shadow: #23904F;

  --bunny-color: #FFF;
  --bunny-ear--inner: #FEE3C5;
  --bunny-eye: #3B3BCE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Press Start 2P', cursive;
  background: #007991;
  background: -webkit-linear-gradient(to bottom, #78ffd6, #007991);
  background: linear-gradient(to bottom, #78ffd6, #007991);

  counter-reset: score;
}


/* App styles */
.container {
  position: relative;
  width: 320px;
  height: 640px;
  text-align: center;
  border: 5px solid #000;
  border-radius: 40px;
  background: var(--sky-color);
  background: -webkit-linear-gradient(135deg, #f8b500 3%, #fceabb 10%, #1fddff 20%);
  background: linear-gradient(135deg, #f8b500 3%, #fceabb 10%, #1fddff 20%);
  box-shadow: 
  inset 0 0 10px rgba(0, 0, 0, .1),
  10px 10px 40px rgba(0, 0, 0, .3),
  15px 15px 12px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.title {
  margin: 75px auto 0;
  font-size: 18px;
  color: var(--wall-shadow);
}
.desc {
  margin-top: 20px;
  font-size: 12px;
}
.score {
  display: inline-block;
  width: 30px;
  margin-left: 5px;
  color: var(--grass-shadow);
}

/* Counters */
input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 80px;
  height: 50px;
  cursor: pointer;
  outline: none;
  appearance: none;
  opacity: 0;
  z-index: 2;

  animation: jump 1s ease-in-out infinite;
}

input:checked {
  counter-increment: score;
}

.score::after {
  content: counter(score);
}


/* Items */
.layer,
.wall,
.lawn {
  bottom: -1px;
}

.layer {
  position: absolute;
  width: 80px;
  height: 450px;
}

.wall {
  width: 220px;
  height: 400px;
  margin: 0 auto;
  background: var(--wall-color-front);
  border-radius: 8px;
  overflow: hidden;
}

.lawn {
  width: 80px;
  height: 100px;
}
.lawn div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FFF;
}
.top-lawn {
  box-shadow: 1px 4px 6px var(--grass-shadow);
}
.right-lawn {
  right: -30px;
  bottom: -15px;
  box-shadow: 1px 4px 6px var(--grass-shadow);
}
.left-lawn {
  left: -30px;
  bottom: -15px;
}

.zigzag {
  width: 100%;
  height: 60px;
  background:
    linear-gradient(135deg, var(--grass-color) 25%, transparent 25%),
    linear-gradient(225deg, var(--grass-color) 25%, transparent 25%),
    linear-gradient(135deg, var(--wall-shadow) 25%, transparent 25%) 0 -63px,
    linear-gradient(225deg, var(--wall-shadow) 25%, transparent 25%) 0 -63px;
  background-size: 30px 70px;
}


/* Layers */
.one {
  right: 60px;
  z-index: 1;
  animation: hide 1s ease-in-out infinite .1s;
}
.two {
  left: 60px;
  z-index: 2;
  animation: hide 1.1s ease-in-out infinite  .2s;
}
.three {
  right: 0;
  left: 0;
  z-index: 3;
  background: var(--wall-color-back);
}

.four {
  left: 20px;
  height: 340px;
  z-index: 4;
  animation: hide 1.1s ease-in-out infinite;
}
.five {
  left: -1px;
  width: 180px;
  height: 290px;
  box-shadow: 3px 5px 10px var(--wall-shadow);
  background: var(--wall-color-middle);
  z-index: 5;
}

.six {
  right: 30px;
  height: 210px;
  z-index: 6;
  animation: hide .9s ease-in-out infinite .3s;
}
.seven {
  right: -1px;
  width: 160px;
  height: 160px;
  box-shadow: -3px 5px 10px var(--wall-shadow);
  z-index: 7;
}

.eight {
  left: -1px;
  z-index: 8;
}
.nine {
  right: -1px;
  z-index: 9;
}
.ten {
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}


/* Lawns */
.eight div,
.nine div {
  background: var(--grass-shadow);
}
.ten div {
  background: var(--grass-color);
}


/* Bunny */
.bunny {
  position: relative;
  width: 80px;
  height: 60px;
  max-width: 100%;
  max-height: 100%;
}

.ear  {
  position: absolute;
  border-radius: 90%;
}

.ear--outer {
  width: 20px;
  height: 50px;
  background: var(--bunny-color);
}

.ear--inner {
  width: 10px;
  height: 40px;
  background: var(--bunny-ear--inner);
}

.left-ear--outer {
  left: 10px;
}
.left-ear--inner {
  top: 10px;
  left: 15px;
}

.right-ear--outer {
  right: 10px;
}
.right-ear--inner {
  top: 10px;
  right: 15px;
}

.head {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background: var(--bunny-color);
  border-radius: 50%;
}

.head__eye {
  position: absolute;
  top: 15px;
  width: 4px;
  height: 4px;
  background: var(--bunny-eye);
  border-radius: 50%;

  animation: blink 2s infinite;
}

.head__eye--left {
  left: 28px;
}
.head__eye--right {
  right: 28px;
}



/* Animations */
@keyframes blink {
  0% {
    height: 4px;
  }
  5% {
    height: 1px;
    transform: translateY(2px);
  }
  10% {
    transform: translateY(0);
    height: 4px;
  }
}

@keyframes hide {
  0% {
    bottom: 0;
  }
  25% {
    bottom: -80px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes jump {
  0% {
    top: 0;
  }
  25% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}